ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=CoffeeHRM_DB;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;Encrypt=False;
Jwt__Issuer=CoffeeHRM
Jwt__Audience=CoffeeHRM.Web
Jwt__SigningKey=Replace_With_A_Strong_Production_Key_At_Least_32_Chars
