ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__DefaultConnection=Server=db58887.databaseasp.net,1433;Database=db58887;User Id=db58887;Password=REPLACE_WITH_MONSTERASP_PASSWORD;Encrypt=False;TrustServerCertificate=True;MultipleActiveResultSets=True;
Jwt__Issuer=CoffeeHRM
Jwt__Audience=CoffeeHRM.Web
Jwt__SigningKey=Replace_With_A_Strong_Production_Key_At_Least_32_Chars
